#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-analyzer/scanlogd/files/scanlogd.rc,v 1.5 2004/07/14 23:11:39 agriffis Exp $

depend() {
	need dbus
}

start() {
	ebegin "Starting gypsy"
	start-stop-daemon --start --quiet --exec /usr/libexec/gypsy-daemon
	eend $?
}

stop() {
	ebegin "Stopping gypsy"
	start-stop-daemon --stop --quiet --exec /usr/libexec/gypsy-daemon
	eend $?
}
